/**
 * GLOBAL BOOTSTRAP OVERRIDES
 */

// set readable text size for elements
button,
label,
p {
  font-size: 1.4rem;
}

// gotham typeface helpers
[class*='gotham'] {
  @include font-gotham-book;
  margin: 0;
  // only 400 / 500 available for gotham
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}
.gotham18 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.285714285714286;
  letter-spacing: 0.01em; // 1%
}
.gotham16 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.285714285714286;
  letter-spacing: 0.01em; // 1%
}
.gotham15 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.285714285714286;
  letter-spacing: 0.01em; // 1%
}
.gotham14 {
  font-size: 1.4rem;
  font-weight: normal;
}
.gotham13 {
  font-size: 1.3rem;
  font-weight: normal;
}
.gotham12 {
  font-size: 1.2rem;
  font-weight: normal;
  strong {
    font-weight: 500;
  }
}

// knockout typeface helpers
[class*='knockout'] {
  @include font-knockout-jr-lightweight;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.knockout14 {
  font-size: 1.4rem;
}
.knockout13 {
  font-size: 1.3rem;
}
.knockout12 {
  font-size: 1.2rem;
}

// color helpers
.grey0 {
  color: #000;
}
.grey1 {
  color: $color-untd-darkgray;
}
.grey2 {
  color: $color-untd-gray;
}
.grey3 {
  color: $color-untd-lightgray;
}
.grey4 {
  color: $color-untd-anothergray;
}
.grey9 {
  color: #fff;
}

// font weight helpers
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}

// provide a basic primary button
.btn {
  font-size: 1.4rem;
}

// outlined buttons
.btn.btn-outlined {
  background-color: transparent;
  color: $color-primary;
  border-color: #ccc;
  &:not(:disabled):not(.disabled).active {
    background-color: $color-active-light;
    color: $color-primary;
    &:focus,
    &:hover {
      background-color: $color-active-hover;
    }
  }
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus {
    background-color: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: rgba(0, 0, 0, 0.07);
    color: $color-primary;
    outline: none;
    box-shadow: none;
  }
}

// transparent buttons
.btn.btn-transparent {
  background-color: transparent;
  color: $color-primary;
  border: none;
  &:not(:disabled):not(.disabled).active {
    background-color: $color-active-light;
    color: $color-primary;
    &:focus {
      background-color: $color-active-hover;
    }
  }
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus {
    background-color: $color-hover;
    outline: none;
    box-shadow: none;
    border: none;
  }
  &:not(:disabled):not(.disabled):focus {
    text-decoration: underline;
    outline: none;
    box-shadow: none;
    border: none;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $color-hover-active;
    color: $color-primary;
    outline: none;
    box-shadow: none;
    border: none;
  }
}

// drop rounded corners from button lists
.list-group-item > .btn {
  border-radius: 0;
}

// text hints
.hint {
  color: $color-untd-gray;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  display: block;
  margin-bottom: 0;
}

// @import url('https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css');

// #demo,
// #explorer {
//   height: 100vh;
// }

/*
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// hr {
//   border: none;
//   border-top: var(--divider-border);
// }
//
// .icon {
//   width: 16px;
//   height: 16px;
// }
//
// .error {
//   color: #c00;
// }
//
// .flags {
//   padding-bottom: 16px;
// }
//
// .flags .flags__flag {
//   display: block;
//   margin-bottom: 8px;
// }

/** COMPONENTS */

.map {
  position: relative !important;
  width: 100%;
  height: 100%;
  > div {
    height: 100% !important;
  }
}

/** END COMPONENTS */

.map-search {
  position: relative;
}

.map-search__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
  color: var(--text2);
}

.react-autosuggest__container {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
}

::placeholder {
  text-overflow: ellipsis;
}

.react-autosuggest__input-wrapper:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  position: absolute;
  transition: border-bottom-color 200ms
    cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
  border-bottom-color: transparent;
}

.react-autosuggest__input-wrapper:focus-within:before {
  border-bottom: 2px solid #031232;
}

.react-autosuggest__input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0 8px 8px;
  font-family: var(--font);
  font-weight: 300;
  font-size: var(--mini-font-size);
  border: none;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-autosuggest__input--open + .react-autosuggest__clear,
.react-autosuggest__input:not([value=''])
  + .react-autosuggest__clear {
  opacity: 1;
  display: block;
}

.react-autosuggest__clear {
  opacity: 0;
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  font-size: 18px;
  display: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 1;
}
.react-autosuggest__clear:focus {
  outline: none;
  background: var(--darken2);
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  font-size: var(--small-font-size);
  text-align: left;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 41px;
  width: 100vw;
  background-color: #fff;
  box-shadow: var(--shadow10);
  z-index: 2;
  max-height: calc(100vh - 240px);
  overflow: auto;
}
// @media (min-width: 650px) {
@include media-breakpoint-up(md) {
  .react-autosuggest__suggestions-container--open {
    width: 100%;
    min-width: 320px;
  }
}

.react-autosuggest__section-title {
  padding: 16px 16px 12px;
  text-transform: capitalize;
  line-height: 1;
  color: var(--body2-text);
  font-size: 0.875rem;
  box-sizing: border-box;
  list-style: none;
  font-weight: 500;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: var(--padding);
  color: var(--body2-text);
  padding-left: 44px;
  font-size: 0.875rem;
  font-family: maisonneue-book, lato, helvetica neue, Arial,
    sans-serif, -apple-system;
  font-weight: 400;
  line-height: 1.5;
}

// .react-autosuggest__suggestion--highlighted {
//   background-color: var(--highlight-background);
// }

// .ais-Highlight-highlighted {
//   background-color: transparent;
//   font-weight: normal;
//   font-family: var(--body-bold);
// }
//
// .ais-Highlight-nonHighlighted {
//   color: #000;
//   font-weight: normal;
// }
