// .canvas {
//   position: relative;
// }

/* Extra small devices (phones, 767px and down) */
.layout-control-panel {
  @include font-knockout-jr-lightweight;
  &.display-map {
    justify-content: space-around;
  }
  &.display-feeder {
    justify-content: flex-start;
    .btn.button-core {
      margin-right: 1rem;
    }
  }
  height: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 16px;
  z-index: 401; // 2000;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  box-shadow: 0 1px 3px #ccc;
  hr,
  .button-view-map,
  .button-view-feeder {
    display: none;
    // @include media-breakpoint-up(lg) {
    //   display: block;
    // }
  }
  .control-label {
    display: none;
  }
  .select-view {
    margin-right: 16px;
  }
  .button-view-filters {
    margin-right: 8px;
  }
  .dropdown.select-view {
    // min-width: 200px;
    .btn {
      border-radius: 0;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 300;
      padding: 0.8rem 1.2rem;
      font-weight: 300 !important;
      &:after {
        margin-left: 1rem;
        margin-bottom: -2px;
      }
    }
    .dropdown-menu.show {
      width: 100%;
      border-radius: 0;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 300;
      align-self: center;
      button {
        padding: 0.8rem 1.2rem;
        border-radius: 0;
        font-weight: 300;
        &.active,
        &:focus {
          color: #212529;
          background-color: rgba(
            204,
            204,
            204,
            0.4
          ); // #e55934;
          border: 0;
        }
      }
    }
  }
  .btn.button-core {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 14px;
    // margin-right: 1rem;
    flex: 0 0 40px;
    align-self: center;
    &:hover {
      background-color: $color-untd-lemon; // #f6f6eb;
    }
    &.active,
    &:focus {
      background-color: $color-untd-lemon; // #ffeee5;
      color: $color-untd-darklemon; // #e55934;
    }
    &.button-launch-tour {
      svg {
        width: 20px;
        height: 24px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 376px;
    &.display-feeder {
      width: 272px;
    }

    position: absolute;
    left: 16px;
    top: 16px;

    .btn.button-core {
      margin-right: 1.6rem;
      &.button-u-share-link {
        margin-right: 0;
      }
    }
    hr,
    .button-view-map,
    .button-view-feeder {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    width: $control-panel-width;
    &.display-feeder {
      width: $control-panel-width;
    }
    height: calc(100vh - #{$navbar-height});
    flex-direction: column;
    align-items: center;
    position: absolute;
    &.display-map,
    &.display-feeder {
      justify-content: flex-start;
    }
    left: 0;
    top: 0;
    .btn.button-core {
      font-size: 20px;
      // border-radius: 50%;
      // height: 40px;
      // width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:focus {
        box-shadow: none;
      }
      &.btn-light:not(:disabled):not(.disabled).active {
        background-color: transparent;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          stroke: #e55934;
        }
      }
      &.button-share {
        font-size: 14px;
      }
      &.button-d-u-share-link,
      &.button-feedback-link {
        width: 52px;
        height: 31px;
        min-height: 31px;
        max-height: 31px;
        font-size: 1.2rem;
        line-height: 1.33rem;
        border: 1px solid #e0e2e5;
        border-radius: 4px;
        color: $color-untd-gray;
        span {
          @include font-knockout-jr-lightweight;
          font-size: 1.2rem;
          line-height: 1.33rem;
        }
        svg {
          margin: auto;
        }
      }
    }

    .select-view {
      display: none;
    }
    hr,
    .button-view-map,
    .button-view-feeder {
      display: block;
    }
    .control-label {
      text-align: center;
      display: block;
      @include font-knockout-jr-lightweight;
      color: $untd-font-gray;
      font-weight: 300;
      font-size: 1.3rem;
      line-height: 1.2rem;
      margin-bottom: 16px;
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        margin-bottom: 8px;
      }
    }
    .button-view-map,
    .button-view-feeder,
    .button-panel-filters,
    .button-panel-info {
      display: block;
      font-size: 2.1rem;
    }
    .button-panel-filters,
    .button-panel-info {
      background-color: transparent;
    }
    .button-share-facebook,
    .button-share-twitter,
    .button-share-email,
    .button-share-link {
      font-size: 1.4rem;
    }
    hr {
      width: 100%;
      margin: 0.8rem 0 1.6rem;
      border-top: 1px solid #e8eae4;
    }
    button,
    .btn.btn-core {
      margin-bottom: 16px;
      margin-bottom: 8px;
      align-self: center;
      margin-right: 0 !important;
    }
    .button-view-filters {
      margin-right: 0;
    }
  }
}
