$lg-legend-width: 320px;
$xl-legend-width: 435px;

.layout-view-feeder {
  height: 100%;
  background-color: $feeder-background-color;

  @include media-breakpoint-up(lg) {
    overflow-x: hidden;
  }
  // overflow: hidden;
  .feeder-chart-header {
    // Temporarily deactivated header, can be cleaned up if desired
    display: none;
  }
  .row-bar-chart {
    margin-left: 0;
    margin-right: 0;
    .feeders-bar-chart {
      height: 100%;
      margin-top: 64px;
      display: flex;
      flex-direction: column;
      background-color: $feeder-background-color;
      @include media-breakpoint-up(md) {
        margin-top: calc(64px + 16px);
      }
      @include media-breakpoint-up(lg) {
        margin-top: 0px;
      }

      .feeders-bar-chart-parent {
        height: 100%;
        order: 2;
        @include media-breakpoint-up(md) {
          order: 1;
        }
        @include media-breakpoint-up(lg) {
          height: calc(
            100vh - 64px - #{$distrib-chart-height}
          );
          overflow-y: scroll;
        }
        .feeder-chart-bar {
          width: 90%;
          // margin-top: 350px;
          padding-top: 2rem;
          position: relative;
          margin-bottom: 2rem;
          @include media-breakpoint-up(md) {
            width: 76%;
            margin-top: 16px;
            margin-bottom: 4rem;
          }
          @include media-breakpoint-up(lg) {
            margin-top: 16px;
            // margin-bottom: 4rem;
          }
          .scroll-prompt {
            position: fixed;
            left: 72px;
            bottom: $distrib-chart-height;
            display: block;
            width: calc(100% - #{$lg-legend-width});
            @include media-breakpoint-up(xl) {
              width: calc(100% - #{$xl-legend-width});
            }
            height: 50px;
            background: linear-gradient(
              180deg,
              rgba(252, 252, 248, 0) 0%,
              #fcfcf8 100%
            );
            z-index: 500;
            font-family: halyard-text;
            font-size: 1.5rem;
            font-weight: 200;
            .scroll-prompt-text {
              display: block;
              margin-left: auto;
              margin-right: auto;
              padding: 1rem;
              border-top-right-radius: 6px;
              border-top-left-radius: 6px;
              border: 1px solid $feeder-panes-border;
              border-bottom: 0;
              background: $white;
              width: 135px;
              text-align: center;
              margin-top: 20px;
              height: 30px;
              font-size: 1.3rem;
              padding: 5px;
              svg {
                margin-bottom: 2px;
                margin-left: 0.6rem;
                // transform: rotate(90deg);
              }
            }
          }
          .feeder-bar-button {
            position: relative;
            width: 100%;
            background-color: transparent;
            border: 0;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 10px;
            height: 24px;
            .label {
              flex: 0 0 60px;
              // flex: 0 0 140px; // md
              text-align: right;
              font-family: halyard-text;
              font-size: 0.8rem;
              line-height: 1.5rem;
              padding-right: 0.5rem;
              font-weight: 300;
              align-self: center;
              @include media-breakpoint-up(md) {
                flex: 0 0 68px;
                font-size: 1.3rem;
              }
            }
            .data {
              flex: 0 1 auto;
              padding-left: 0.5rem;
              // line-height: 1.3rem;
              font-family: halyard-text;
              font-size: 1.5rem;
              line-height: 1.6rem;
              font-weight: 300;
              align-self: center;
            }
            &:focus {
              outline: none;
            }
            .bar {
              display: block;
              height: 24px;
              background: $cri-color-3; // lighten($base-cri-color, 40%);
              transition: background-color 0.1s ease;
              .click-prompt {
                display: none;
                float: left;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: white;
                line-height: 2.4rem;
                margin-left: 3rem;
              }
            }
            &.active,
            &:hover {
              .bar {
                background-color: $bar-highlight; // lighten($base-cri-color, 30%);
                .click-prompt {
                  display: inline;
                }
              }
            }
          }
        }
      }

      .feeder-chart-legend {
        order: 1;
        position: relative;
        height: auto;
        width: 100%;
        overflow-y: scroll;
        padding: 24px;
        display: block;
        a {
          color: $turtle-green;
          &:hover {
            text-decoration: none;
          }
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          justify-content: flex-start;
          span {
            flex: 0 1 auto;
            width: auto;
            display: inline-block;
            margin-right: 0.75rem;
          }
          svg {
            flex: 0 1 14px;
          }
        }
        &.feeder-locked {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
        }
        @include media-breakpoint-up(md) {
          background-color: red;
          position: absolute;
          top: 16px;
          right: 32px;
          display: block;
          background: #fff;
          padding: 1.6rem;
          box-shadow: 0px 0px 3px #ccc;
          overflow-y: scroll;
          z-index: 500;
          width: $lg-legend-width;
          height: 350px;
          &.feeder-locked {
            display: block;
          }
        }
        @include media-breakpoint-up(lg) {
          position: absolute;
          right: 0px;
          top: 0px;
          height: calc(
            100vh - 64px - #{$distrib-chart-height}
          );
        }
        @include media-breakpoint-up(xl) {
          position: absolute;
          width: $xl-legend-width;
        }

        .feeder-legend-metrics,
        .feeder-legend-schools {
          margin: 0.6rem auto 0.6rem;
          @include media-breakpoint-up(xl) {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            .feeder-index,
            .school {
              flex: 1 0 45%;
              margin-right: 1.2rem;
            }
            .school {
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              justify-content: flex-start;
              max-width: 48%;
              // color: $turtle-green;
              &:hover {
                text-decoration: none;
              }
              span {
                flex: 0 0 100%;
                margin-right: -0.5rem;
              }
              svg {
                flex: 0 0 24px;
                width: 14px;
                height: 14px;
              }
            }
            .feeder-index {
              white-space: nowrap;
              // margin-right: 1.25rem;
            }
          }
        }

        .feeder-legend-metrics,
        .feeder-legend-schools {
          width: 100% !important;
        }
      }
    }
  }
  // Scatterplot (school) chart row
  .row-schools-chart {
    margin-right: 0;
    margin-left: 0;
    background-color: $feeder-background-color;
    width: 100%;
    @include media-breakpoint-up(lg) {
      background-color: $white;
    }
    .feeders-schools-scatter {
      padding-left: 0;
      padding-right: 0;
      padding-top: 2rem;
      @include media-breakpoint-up(lg) {
        padding-top: 4rem;
      }
    }
    $distrib-chart-left: 89px;
    $distrib-chart-left-sm: 30px;
    .distrib-chart-legend {
      position: absolute;
      left: calc(#{$distrib-chart-left-sm} - 2px);
      top: 10px;
      padding: 0 1rem 1.5rem 0;
      @include media-breakpoint-up(lg) {
        background-image: linear-gradient(
          to bottom,
          $white 85%,
          transparent 95%
        );
      }
      h3 {
        font-size: 1.4rem;
        line-height: 1.5rem;
      }
      .distrib-chart-item {
        display: flex;
        align-items: center;
        .icon {
          width: 6px;
          height: 6px;
          border-radius: 2px;
          margin-right: 0.5rem;
        }
        span {
          font-style: italic;
          font-weight: 300;
          font-size: 1rem;
        }
        &.feeder-school {
          .icon {
            background-color: orange;
          }
        }
        &.highlight-school {
          .icon {
            background-color: $bar-highlight;
          }
        }
      }
      @include media-breakpoint-up(md) {
        left: calc(#{$distrib-chart-left} - 2px);
        top: 20px;
      }
      @include media-breakpoint-up(lg) {
        left: calc(#{$distrib-chart-left} - 3px);
        top: 40px;
        h3 {
          font-size: 1.5rem;
        }
        .distrib-chart-item {
          .icon {
            width: 8px;
            height: 8px;
            border-radius: 2px;
          }
          span {
            font-style: italic;
            font-weight: 300;
            font-size: 1.2rem;
          }
        }
      }
      @include media-breakpoint-up(xl) {
        left: calc(#{$distrib-chart-left} - 5px);
        top: 40px;
        h3 {
          font-size: 1.8rem;
          line-height: 2.1rem;
        }
        .distrib-chart-item {
          display: flex;
          align-items: center;
          .icon {
            width: 12px;
            height: 12px;
            border-radius: 2px;
            margin-right: 0.5rem;
          }
          span {
            font-style: italic;
            font-weight: 300;
            font-size: 1.4rem;
          }
          &.feeder-school {
            .icon {
              background-color: orange;
            }
          }
          &.highlight-school {
            .icon {
              background-color: $bar-highlight;
            }
          }
        }
      }
    }
    .echarts-for-react {
      width: 100% !important;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      position: fixed;
      bottom: 0;
      background: #fff;
      width: calc(100vw - #{$control-panel-width}); // 100%;
      height: $distrib-chart-height;
      .feeders-schools-scatter {
        background: #fff;
        padding-top: 4rem;
        border-top: 0.5px solid #e8e8e8;
        .echarts-for-react {
          margin-bottom: -20px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }
  }
}

.feeder-chart-legend,
.feeder-modal .modal-body {
  font-size: 12px;
  font-family: halyard-text;
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding-right: 0.5rem;
  color: #606b44;
  p {
    margin: 1rem 0;
    font-family: halyard-text;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    // color: #606b44;
    margin-bottom: 0.8rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 100%;
    font-weight: 400;
  }
  hr {
    width: 100%;
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background-color: #e55934;
    }
  }
  h3 {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
  }
  h4 {
    font-family: halyard-text;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    // margin-bottom: 10px;
  }
  h4 {
    width: 100%;
    flex: 0 0 100%;
  }
  .feeder-legend-schools {
    margin-top: 12px !important;
  }
  .feeder-legend-metrics,
  .feeder-legend-schools {
    margin: 0.6rem auto 0.6rem;
    color: #2c390b;
    .index-value {
      font-size: 1.5rem;
      line-height: 1.6rem;
      display: inline;
      font-weight: 500;
    }
    a {
      color: $turtle-green;
      &:hover {
        text-decoration: none;
        color: $cpal-orange;
      }
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      span {
        flex: 0 1 auto;
        width: auto;
        display: inline-block;
        margin-right: 0.75rem;
      }
      svg {
        flex: 0 1 14px;
        margin-right: 0.5rem;
      }
    }
    span {
      padding: 0.25rem 0;
      a {
        // color: gray;
        color: #2c390b;
        margin-left: 0.6rem;
        vertical-align: bottom;
      }
    }
    span,
    i {
      width: 100%;
      display: block;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 2rem;
    }
    i {
      margin-top: 0.5rem;
    }
  }
}

.feeder-modal {
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    .feeder-legend-metrics {
      .feeder-index {
        display: block;
        width: 100%;
      }
    }
    .feeder-legend-schools {
      .school {
        display: block;
        width: 100%;
      }
    }
  }
}
