$spacer: 0.8rem;

.layout {
  height: 100%; // 100vh;
  // max-height: 100vh;
  .button-view-weights {
    display: none;
  }
  .button-panel-filters {
    svg {
      transform: rotate(90deg);
    }
  }
  .menu-icon-group {
    cursor: pointer;
    display: inline; // so below padding doesn't shift element
    padding-top: $spacer; // extends clickable area
    padding-bottom: $spacer;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #08131f;
  }
  // .menu-icon {
  //   display: inline-block;
  //   width: 20px;
  //   height: 9px;
  //   margin-right: 4px;
  //   background-image: url('./images/menu-icon.svg');
  // }
  .header {
    h1 {
      margin-left: 16px;
      width: 0;
      @include media-breakpoint-up(md) {
        width: auto;
      }
      a {
        display: none;
        @include media-breakpoint-up(md) {
          display: flex;
        }
        text-decoration: none !important;
        .logo {
          width: 17px;
          height: 28px;
          background-image: url('./images/menu-logo.svg');
          background-repeat: no-repeat;
          background-size: 17px 28px;
          margin-right: 4px;
        }
        .logo-sitename {
          // font-style: normal;
          // font-weight: 300;
          // font-size: 14px;
          // line-height: 12px;
          letter-spacing: -1px;
          color: $logo-text-color;
          align-self: center;
          margin-left: 6px;
          width: 70px;
          font-family: halyard-text;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 11px;
          @include media-breakpoint-up(md) {
            width: auto;
            font-style: normal;
            font-size: 15px;
            font-weight: 300;
            line-height: 15px;
            color: #292d33;
            mix-blend-mode: normal;
            color: #484e56;
            font-weight: 400;
            letter-spacing: 0.01rem;
          }
          // text-decoration: none !important;
          // &:hover,
          // &:active {
          //   text-decoration: none !important;
          // }
        }
      }
    }
  }
}
html,
body {
  height: 100%;
}
// main {
//   height: calc(100vh - 64px);
// }
// .view-parent {
// height: 100%;
// @include media-breakpoint-up(lg) {
//   padding-left: 72px; // padding-left: 64px;
// }
// &.display-feeder {
//   background-color: $feeder-background-color;
//   .layout-view-map {
//     display: none;
//   }
// }
// &.display-map {
//   .layout-view-feeder {
//     display: none;
//   }
// }
// .layout-view-map {
//   .map-legend-btn {
//     position: absolute;
//     top: calc(#{$navbar-height} + 20px);
//     left: 50%;
//     width: 164px;
//     height: 44px;
//     border-radius: 22px;
//     margin-left: -82px;
//     background-color: $white;
//     font-size: 1.4rem;
//     font-weight: 400;
//     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
//   }
// }
// }
