.linear-scale {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  margin: 0 0 2rem;
  .linear-scale-bar {
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: $color-untd-anothergray;
    background-size: 100% 1px;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 43px;
      width: 1px;
      left: 0;
      top: -10px;
      background-color: $color-untd-another-another-gray;
    }
    &:after {
      right: 0;
      left: auto;
    }
  }
  .linear-scale-labels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: $color-untd-gray;
    // margin: 32px 0 0;
    position: absolute;
    left: 0;
    top: 75px;
  }
  .linear-scale-value,
  .hash-group {
    position: absolute;
    box-sizing: content-box;
    top: 8px;
    z-index: 500;
    .linear-scale-hash-value {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      //   margin-top: -8px;
      margin-left: -8px;
      background-color: $color-untd-blue;
    }
    .label {
      //   border: 1px solid blue;
      width: 50px;
      text-align: center;
      margin-left: -50%;
      font-size: 14px;
      font-weight: 500;
      color: $color-untd-gray;
    }
  }
  .linear-scale-value .label {
    font-size: 16px;
    font-weight: 600;
  }
  .linear-scale-mean {
    width: auto;
    position: absolute;
    top: 42px;
    z-index: 499;
    .linear-scale-hash-mean {
      width: 1px;
      height: 19px;
      margin-top: -9px;
      background-color: $color-untd-anothergray;
    }
    .label {
      font-weight: 400;
      color: $color-untd-gray;
      border-bottom: 2px dotted
        $color-untd-another-another-gray;
    }
  }

  .label.justify-right {
    width: 56px;
    text-align: right;
    margin-left: -100%;
  }
  .label.justify-left {
    margin-left: 0;
    width: auto;
  }
}
