.overlays {
  .map__zoom {
    .map-btn-group {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-wrap: wrap;
      width: 29px;
      .map-reset-btn {
        svg {
          margin-left: -2px;
        }
      }
      .map-capture-btn {
        svg {
          margin-left: -2px;
        }
      }
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-group {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    // Explorer mapbox css overrides
    // .mapboxgl-ctrl
    //   button.mapboxgl-ctrl-zoom-out
    //   .mapboxgl-ctrl-icon,
    // .mapboxgl-ctrl
    //   button.mapboxgl-ctrl-zoom-in
    //   .mapboxgl-ctrl-icon {
    //   background-image: none !important;
    // }
  }
  .custom-attribution {
    display: none;
    @include media-breakpoint-up(md) {
      .divider {
        margin-right: 1rem;
      }
      color: $turtle-green;
      display: block;
      position: absolute;
      bottom: 8px;
      left: 105px;
      font-size: 1.3rem;
      line-height: 1.8rem;
      font-weight: 300;
      a {
        color: $turtle-green;
      }
    }
  }
}
