.map-legend {
  position: absolute;
  top: $navbar-height; // calc(16px + 64px); // Changes on smallest device.
  width: 100%;
  cursor: default;
  &.hide-mobile {
    display: none;
  }
  &.show-mobile {
    display: block;
  }
  @include media-breakpoint-up(md) {
    top: 16px;
    right: 16px;
    width: 280px;
    &.hide-mobile {
      display: block;
    }
  }
  background: #fff;
  padding: 16px;
  @include media-breakpoint-up(md) {
    padding: 24px;
  }
  box-shadow: 3px 3px 5px #ccc;
  border-radius: 2px;
  .map-legend-open-filter-panel {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
    &.disabled {
      color: lighten($turtle-green, 15%);
    }
  }
  .map-legend-label {
    @include font-gotham-book;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 1%;
    color: $color-untd-gray;
  }
  .map-legend-zone-labels {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2rem;
    margin-bottom: 0.7rem;
    justify-content: space-between;
    .fewer,
    .avg,
    .more {
      flex: 1 1 33.33%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fewer {
      text-align: left;
      justify-content: flex-start;
    }
    .avg {
      text-align: center;
      justify-content: center;
    }
    .more {
      text-align: right;
      justify-content: flex-end;
    }
  }
  .map-legend-metric-title {
    @include font-gotham-book;
    color: $color-untd-darkgray;
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 0.5rem 0;
    font-weight: 600;
    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
      line-height: 1.8rem;
      margin: 1rem 0;
    }
  }
  .n-i-scale {
    .n-i-scale-minmax {
      .n-i-scale-min,
      .n-i-scale-max {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: $color-untd-gray;
      }
    }
  }

  .census-scale {
    margin-top: 1.6rem;
    @include font-gotham-book;
    font-weight: 300;
    h5 {
      font-size: 1.4rem;
      font-weight: 300;
    }
    .scale-parent {
      display: flex;
      width: 100%;
      height: 16px;
      border: 1px solid #959b84;
      // background-color: blue;
      .scale-block {
        flex: 0 0 20%;
        border-right: 1px solid #959b84;
        &.scale-block-4 {
          border-right: 0;
        }
      }
    }
    .scale-range {
      display: flex;
      width: 100%;
      @include font-gotham-book;
      .scale-range-minmax {
        flex: 0 0 50%;
        &.max {
          text-align: right;
        }
      }
    }
  }
  .button-close-legend {
    color: $black;
    opacity: 0.5;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    &:hover,
    &:active {
      color: $cpal-orange;
    }
  }
}
