.modal-dialog {
  .modal-content {
    border-radius: 0;
    @include font-gotham-book;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.5;
    .modal-body {
      padding: 0 24px 24px 24px;
      h2 {
        @include font-knockout-jr-lightweight;
        font-weight: 500;
        font-size: 1.8rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        .logo {
          display: inline-block;
          width: 80px; // 57px;
          height: 27px; // 19px;
          background-image: url('./images/menu-logo.svg');
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 20px;
        }
      }
      padding: 0 24px 24px 24px;
      .intro-modal-option {
        margin: 0 0 2rem 0;
        .search-autosuggest {
          margin-left: 0;
          margin-right: auto;
        }
      }
      .cta {
        font-weight: 400;
      }
      .btn.button-core {
        border-radius: 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 300;
        padding: 1rem;
        svg {
          margin-right: 1rem;
          margin-top: -3px;
          transition: color 50ms ease-in-out;
        }
        &:hover,
        &:focus {
          border-color: transparent;
          color: $cpal-orange;
          background-color: $cpal-orange-light;
          svg {
            color: $cpal-orange;
          }
        }
      }
    }
    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
      button.close {
        font-size: 3.6rem;
        font-weight: 300;
        padding-top: 0.25rem;
        &:hover,
        &:focus {
          color: $cpal-orange;
        }
      }
    }
  }
  &.intro-modal {
    .modal-body {
      p {
        margin: 2rem 0;
      }
      .search-autosuggest {
        max-width: 300px;
        .icon-search {
          top: 8px;
        }
        .btn.button-search-clear {
          padding: 0;
          top: 7px;
          &:hover,
          &:focus {
            background-color: $white;
            color: black;
          }
        }
      }
      h2 {
        .cpal-logo {
          height: 50px;
          width: 80px;
          display: block;
          margin-left: 1.8rem;
          background-image: url('./images/cpal.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &.map-modal {
    .modal-content {
      .popup-content {
        width: auto !important;
        .click-school-prompt {
          margin: 1.5rem 0 0;
          svg {
            margin-right: 0.5rem;
            // margin-bottom: 4px;
          }
        }
        .n-i-scale {
          .n-i-scale-quintiles {
            .n-i-scale-quintile {
              top: -3px;
            }
          }
        }
        button {
          border-radius: 0;
          padding: 0.6rem 1.2rem;
        }
      }
    }
  }
  // Contents of feedback modal only.
  &.feedback-modal {
    max-width: 628px;
    .modal-content {
      color: $color-untd-gray;
      border-radius: 4px;
      h2 {
        @include font-gotham-book;
        text-transform: none;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 21px;
      }
      .row-instructions {
        margin-bottom: calc(31px - 1rem);
      }
      .search-autosuggest {
        border-radius: 4px;
        height: 40px;
        .icon-search {
          width: 18px;
          height: 18px;
          left: 8px;
          color: $color-untd-gray;
        }
        input {
          height: 100%;
          width: 100%;
          border-radius: 4px;
          background-color: transparent;
          // padding-left: 32px;
          // padding-right: 12px;
          &:focus {
            background-color: $white;
          }
        }
        .button-search-clear {
          display: none;
          border-radius: 4px;
          top: 0;
          right: 0;
          svg {
            width: 18px;
            height: 18px;
            margin-right: 0;
            color: $color-untd-gray;
          }
        }
      }
      .col-or {
        min-height: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .feedback-use-my.btn {
        border-radius: 4px;
        background-color: #a45e0b;
        color: #fff;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: lighten(#a45e0b, 5%);
          color: $white;
          svg {
            color: $white;
          }
        }
        svg {
          height: 18px;
          width: 18px;
          margin-top: 0;
          margin-right: 0.6rem;
        }
        span {
          // margin-top: -2px;
        }
      }
      button {
        font-size: 14px;
      }
      input {
        height: 40px;
        font-size: 14px;
      }
      label {
        font-size: 12px;
        margin-bottom: 0;
      }
      .row-location,
      .row-message,
      .row-subscribe,
      .row-submit {
        margin-bottom: 0.5rem;
        button {
          width: 104px;
        }
      }
      .row-submit .form-group {
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: 1rem;
          height: 40px;
          border-radius: 4px;
          // $color-untd-blue
          &.feedback-cancel {
            background-color: $white;
            color: $color-untd-gray;
            border: 1px solid $color-untd-lightgray;
          }
          &.feedback-submit {
            background-color: $color-untd-blue;
            &:hover {
              background-color: lighten(
                $color-untd-blue,
                5%
              );
              color: $white;
              // color: $color-untd-lightgray;
            }
          }
        }
      }
      .form-group {
        margin-bottom: 0;
      }
      .form-group.subscribe {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
          height: auto;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
