.n-i-scale {
  width: 100%;

  .n-i-scale-value {
    width: 100%;
  }
  .n-i-scale-parent {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    // Hash mark on the scale to indicate where value falls.
    .n-i-scale-hash {
      position: absolute;
      height: 10px;
      width: 0.5px;
      background-color: $turtle-green;
      top: 1px;
      left: 0%;
    }
    // Quintiles container.
    .n-i-scale-quintiles {
      width: 100%;
      top: -1px;
      // The horizontal line through the quintiles.
      &:before {
        width: 100%;
        height: 0.5px;
        background-color: $turtle-green;
        display: block;
        content: '';
        position: absolute;
        top: 5.25px;
        left: 0;
      }
      // Quintiles.
      .n-i-scale-quintile {
        height: 10px;
        width: 16.66%; // 20%;
        display: inline-block;
        position: relative;
        // opacity: 0.4;
        &.quintile-2 {
          width: 33.33%;
          &:before {
            content: '';
            display: block;
            width: 0.5px;
            height: 14px;
            position: absolute;
            top: -4px;
            left: 50%;
            background-color: $turtle-green;
          }
        }
        &.quintile-0:before,
        &.quintile-4:after {
          // border-right: 1px solid black;
          content: '';
          display: block;
          width: 1px;
          height: 14px;
          position: absolute;
          top: -4px;
          background-color: $turtle-green;
        }
        &.quintile-0:before {
          // border-left: 1px solid black;
          left: 0;
        }
        &.quintile-4:after {
          // border-right: 1px solid black;
          right: 0;
        }
      }
    }
  }
  .n-i-scale-minmax {
    // border: 1px solid red;
    margin-top: -3px;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    // align-items: stretch;
    flex-wrap: nowrap;
    & > div {
      // border: 1px solid blue;
      flex: 1 1 50%;
      vertical-align: text-top;
    }
    .n-i-scale-max {
      text-align: right !important;
    }
  }
}
