.map-panel-slideout-location {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 100px;
  .panel-sticky,
  .panel-bottom-sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 2.8rem 2rem 2rem;
    border-bottom: 1px solid $color-untd-anothergray;
    z-index: 501;
    h5 {
      @include font-gotham-book;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.8rem;
      letter-spacing: 1%;
    }
  }
  .panel-bottom-sticky {
    bottom: 0;
    top: auto;
    border-top: 1px solid $color-untd-anothergray;
    h5 {
      font-size: 15px;
      color: $color-untd-darkgray;
    }
    button {
      font-size: 12px;
      color: $color-untd-gray;
      text-decoration: underline;
      padding: 1rem 0;
    }
  }
  .panel-demographics {
    padding: 1.6rem 2rem;
    border-bottom: 1px solid $color-untd-anothergray;
    h6 {
      @include font-gotham-book;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 1%;
    }
  }
  .panel-indicators {
    padding: 1.6rem 2rem;
    h6.indicator {
      @include font-gotham-book;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: 1%;
      font-color: $color-untd-darkgray;
      margin-top: 1.4rem;
      svg {
        margin-left: 0.35rem;
        margin-top: -2px;
      }
    }
  }
  .n-i-scale {
    margin-top: 6px;
    margin-bottom: 3rem;
    padding-right: 1px;
    padding-left: 1px;
    &:after,
    &:before {
      display: none;
    }
    .n-i-scale-quintiles {
      width: 100%;
      top: -5px !important;
      // The line through the quintiles.
      border: 1px solid #ccc;
      height: 9px;
      box-sizing: content-box;
      margin-top: 0.6rem;
      &:after,
      &:before {
        display: none !important;
      }
      .n-i-scale-quintile {
        height: 13px;
        border-right: 1px solid #ccc;
        top: -1px;
        width: 16.665%;
        &.quintile-4 {
          border-right: 0;
        }
        &:before,
        &:after {
          display: none !important;
        }
      }
    }
  }
}
