.map-panel-slideout,
.panel-modal {
  // height: 100%;
  overflow: hidden;
  .map-panel-slideout-filters {
    overflow-y: hidden;
    // h3 {
    //   display: none;
    // }
    p {
      font-family: halyard-text;
      font-weight: 200;
      font-size: 15px;
      line-height: 22px;
      color: #606b44;
      margin-bottom: 1.6rem;
    }
    height: 100%;
    padding: 2.8rem 2rem; //1.6rem;
    .select {
      flex-grow: 1;
      margin-right: 1rem;
      button {
        width: 100%;
        height: 40px;
        font-size: 15px;
        font-weight: 200;
        color: #2c390b;
        background-color: #fff;
        border: 1px solid #cfd3c2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.active {
          background-color: rgba(204, 204, 204, 0.4);
        }
      }
      .dropdown-menu {
        width: 100%;
        button {
          border: none;
        }
      }
    }
    // .map-panel-controls {
    //   display: flex;
    //   margin-bottom: 1.6rem;
    //   button#button_reset_filter {
    //     width: 40px;
    //     font-size: 1.7rem;
    //     line-height: 1;
    //   }
    // .select {
    //   flex-grow: 1;
    //   margin-right: 1rem;
    //   button {
    //     width: 100%;
    //     height: 40px;
    //     font-size: 15px;
    //     font-weight: 200;
    //     color: #2c390b;
    //     background-color: #fff;
    //     border: 1px solid #cfd3c2;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     &.active {
    //       background-color: rgba(204, 204, 204, 0.4);
    //     }
    //   }
    //   .dropdown-menu {
    //     width: 100%;
    //     button {
    //       border: none;
    //     }
    //   }
    // }
    // }
    .filters-panel-parent {
      height: 100%;
      padding: 1rem 0.4rem;
      .filter-panel-tabs {
        height: 100%;
        .filter-tab-category {
          display: none;
          height: 100%;
          overflow-y: scroll;
          padding-bottom: 14rem;
          h5 {
            margin-bottom: 1.6rem;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #2c390b;
          }
          h6 {
            font-family: halyard-text;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #2c390b;
          }
          .tab-desc {
            p {
              margin-bottom: 2.4rem;
              span {
                font-weight: 400;
              }
            }
          }
          .filter-panel-filter-series {
            .filter:last-child {
              padding-bottom: 8rem;
            }
          }
        }
        &.active-tab-cri {
          .tab-category-cri {
            display: block;
          }
        }
        &.active-tab-econ {
          .tab-category-econ {
            display: block;
          }
        }
        &.active-tab-edu {
          .tab-category-edu {
            display: block;
          }
        }
        &.active-tab-fam {
          .tab-category-fam {
            display: block;
          }
        }
        &.active-tab-heal,
        &.active-tab-hel {
          .tab-category-heal,
          .tab-category-hel {
            display: block;
          }
        }
        &.active-tab-comm {
          .tab-category-comm {
            display: block;
          }
        }
      }
    }
  }
}
