.map-panel-slideout-location {
  .n-i-scale {
    margin-top: 6px;
    margin-bottom: 3rem;
    padding-right: 1px;
    padding-left: 1px;
    &:after,
    &:before {
      display: none;
    }
    .n-i-scale-parent {
      .n-i-scale-quintiles {
        width: 100%;
        top: -5px !important;
        // The line through the quintiles.
        border: 1px solid #ccc;
        height: 16px;
        box-sizing: content-box;
        margin-top: 0.6rem;
        &:after,
        &:before {
          display: none !important;
        }
        .n-i-scale-quintile {
          height: 100%;
          border-right: 1px solid #ccc;
          top: 0;
          width: 16.665%;
          &.quintile-4 {
            border-right: 0;
          }
          &:before,
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}
