.panel-modal {
  height: 60vh;
  max-height: 60vh;
  .modal-header {
    border-bottom: none;
    z-index: 1500;
  }
  .map-panel-slideout-filters,
  .map-panel-slideout-layers,
  .map-panel-slideout-location,
  .map-panel-slideout-info {
    display: none;
    overflow-y: scroll;
    max-height: 80vh;
    @include media-breakpoint-only(xs) {
      max-height: 70vh;
    }
  }
  .map-panel-slideout-location {
    margin-bottom: 0;
  }
  .map-panel-slideout-info {
    padding: 0 0.5rem 2rem;
  }
  .map-panel-slideout-filters,
  .map-panel-slideout-layers,
  .map-panel-slideout-location {
    // padding: 0 0.5rem 2rem;
    margin: -38px -24px -24px -24px;
  }
  .map-panel-slideout-layers .panel-sticky {
    border-bottom: 1px solid $color-untd-anothergray;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 2.8rem 2rem 2rem 2rem;
    z-index: 1400;
  }
  .map-panel-slideout-filters .filter-panel-filter-series {
    margin-bottom: 2rem !important;
  }
  &.panel-view-filters {
    .map-panel-slideout-filters {
      display: block;
      // height: 60vh;
      // overflow-y: scroll;
      .filters-panel-parent
        .filter-panel-tabs
        .filter-tab-category {
        height: auto;
        overflow-y: visible;
        padding-bottom: 0;
      }
      .filters-panel-parent
        .filter-panel-tabs
        .filter-tab-category
        .filter-panel-filter-series
        .filter:last-child {
        padding-bottom: 0rem;
      }
    }
  }
  &.panel-view-layers {
    .map-panel-slideout-layers {
      display: block;
    }
  }
  &.panel-view-location {
    .map-panel-slideout-location {
      display: block;
    }
  }
  &.panel-view-info {
    .map-panel-slideout-info {
      display: block;
    }
  }
}
