.popup-content {
  // @include font-knockout-jr-lightweight;
  @include font-gotham-book;
  padding: 24px;
  margin: 0 !important;
  width: 252px;
  border-radius: 0;

  .n-i-scale {
    margin-top: 6px;
    margin-bottom: 8px;
    padding-right: 1px;
    padding-left: 1px;
    &:after,
    &:before {
      display: none;
    }
    .n-i-scale-quintiles {
      width: 100%;
      top: -5px !important;
      // The line through the quintiles.
      border: 1px solid #ccc;
      height: 9px;
      box-sizing: content-box;
      margin-top: 0.6rem;
      &:after,
      &:before {
        display: none !important;
      }
      .n-i-scale-quintile {
        height: 13px;
        border-right: 1px solid #ccc;
        top: -1px;
        width: 16.665%;
        &.quintile-4 {
          border-right: 0;
        }
        &:before,
        &:after {
          display: none !important;
        }
      }
    }
  }
  .popup-place-name,
  .popup-place-name h4 {
    @include font-gotham-book;
    color: $color-untd-darkgray;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 1%;
  }
  .popup-metric-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 12px auto;
    color: $color-untd-gray;
    .metric-value {
      color: $color-untd-darkgray;
      font-style: normal;
      font-weight: 600;
    }
    &.address {
      margin-bottom: 0;
    }
  }
  .click-school-prompt {
    color: $turtle-green;
    font-style: italic;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
  }
  .click-to-add {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1%;
    margin: 14px 0 0 0;
    color: $color-untd-gray;
  }
}
.mapboxgl-popup {
  // Set z-index to make tooltip overlay any other controls.
  z-index: 5000 !important;
  border-radius: 0;
  box-shadow: 3px 3px 5px #ccc;
  // Reset padding and margins.
  padding: 0 !important;
  margin: 0 !important;
  .mapboxgl-popup-content {
    // Reset padding and margins.
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0;
  }
}

.mapboxgl-popup.school-interact-hint {
  .mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 8px !important;
    // margin: 4rem;
    border-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    font-weight: 300;
  }
}
