.popup-content {
  // @include font-knockout-jr-lightweight;
  @include font-gotham-book;
  padding: 24px;
  margin: 0 !important;
  width: 282px;

  .popup-place-name,
  .popup-place-name h4 {
    @include font-gotham-book;
    color: $color-untd-darkgray;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 1%;
  }
  .popup-metric-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 12px auto;
    color: $color-untd-gray;
    .metric-value {
      color: $color-untd-darkgray;
      font-style: normal;
      font-weight: 600;
    }
    &.address {
      margin-bottom: 0;
    }
  }
  .indicator-item {
    font-size: 1.2rem;
    .indicator-title {
    }
    .indicator-value {
      font-weight: 600;
    }
  }
  .click-school-prompt {
    color: $turtle-green;
    font-style: italic;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
  }
  .click-to-add {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1%;
    margin: 14px 0 0 0;
    color: $color-untd-gray;
  }
}
.mapboxgl-popup {
  // Set z-index to make tooltip overlay any other controls.
  z-index: 5000 !important;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  // Reset padding and margins.
  padding: 0 !important;
  margin: 0 !important;
  .mapboxgl-popup-content {
    // Reset padding and margins.
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 4px;
  }
}

.mapboxgl-popup.school-interact-hint {
  .mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 8px !important;
    // margin: 4rem;
    border-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    font-weight: 300;
  }
}
