.map-panel-slideout {
  position: absolute;
  z-index: 402; // above control panel
  top: 0;
  left: 0;
  height: 100%;
}

@include media-breakpoint-up(md) {
  .map-panel-slideout {
    left: 70px;
    z-index: 400; // behind control panel
  }
}

.panel__header {
  border-bottom: 1px solid $color-untd-anothergray;
}
