.map-panel-slideout {
  // These change based on device width.
  height: calc(100vh - 64px - 64px - 16px - 16px);
  // max-height: 480px;
  top: calc(64px + 16px);
  left: 70px;
  // Do not change based on device width.
  position: absolute;
  z-index: 400; // 1999;
}

@media only screen and (min-width: 768px) {
  .map-panel-slideout {
    // These change based on device width.
    height: calc(100vh - 64px - 64px - 16px - 16px);
    // max-height: 480px;
    top: calc(64px + 16px + 16px);
  }
}

@media only screen and (min-width: 992px) {
  .map-panel-slideout {
    top: 0;
    height: 100%;
  }
}

.panel__header {
  border-bottom: 1px solid $color-untd-anothergray;
}
