// All fonts come from typography.com
@import url('https://cloud.typography.com/6135894/7078832/css/fonts.css');

@mixin font-knockout-jr-lightweight {
  font-family: 'Knockout 29 A', 'Knockout 29 B';
  font-style: normal;
  font-weight: 400;
}

@mixin font-knockout-lightweight {
  font-family: 'Knockout 49 A', 'Knockout 49 B';
  font-style: normal;
  font-weight: 400;
}

@mixin font-gotham-book {
  font-family: 'Gotham A', 'Gotham B';
  font-style: normal;
  font-weight: 400;
}

@import url('https://cloud.typography.com/6135894/7078832/css/fonts.css');

// Adobe Caslon Pro Regular
@mixin adobe-caslon-regular {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
}
// Adobe Caslon Pro Italic
@mixin adobe-caslon-italic {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
}
// Adobe Caslon Pro Bold
@mixin adobe-caslon-bold {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: normal;
}
// Adobe Caslon Pro Bold Italic
@mixin adobe-caslon-italic {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: italic;
}
// Adobe Caslon Pro Semibold
@mixin adobe-caslon-semibold {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: normal;
}
// Adobe Caslon Pro Semibold Italic
@mixin adobe-caslon-semibold-italic {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: italic;
}

* {
  @include font-gotham-book;
}

html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}

@import '~bootstrap/scss/bootstrap.scss';

// @import 'breakpoints';
// @import 'mixins';
@import 'variables';

@import 'images/logos';
// Core components
// @import 'Canvas';
// Explorer components
@import 'App';
@import 'Layout';
@import 'ControlPanel';
@import 'MapView';
@import 'Map';
@import 'MapLegend';
@import 'Header';
// Child content component for the popup.
@import 'PopupContent';
// Slideout panel & children
@import 'SlideoutPanel';
@import 'PanelFilterView';
@import 'PanelLayerView';
@import 'PanelLocationView';
@import 'PanelInfoView';
@import 'PanelModal';
// Interactive scale appears in filter panel
@import 'InteractiveScale';
// Non-interactive scale appears in legend and popup tooltips (and in location slideout)
@import 'NonInteractiveScale';
// Linear scale for raw values, appears in location slideout)
@import 'LinearScale';
// Search in header
@import 'SchoolSearch';
@import 'tooltip';
// Intro Modal
@import 'Modal';
@import 'ShareLinkModal';
@import 'DataLoader';
