/** namespace to `bs-expl` so styles are not overwritten by untd-site bootstrap styles */
.bs-expl .tooltip {
  @include font-gotham-book;
  z-index: 9999;
  border-radius: 4px;
  margin-left: 16px;
  transition: opacity 0.1s linear;
  transition-delay: 0.4s;
  .arrow {
    display: none;
  }
  .tooltip-inner {
    @include font-gotham-book;
    background-color: #2c390b;
    border-radius: 4px;
    line-height: 1.3333;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: left;
    p {
      line-height: 1.3333;
      font-size: 1.3rem;
    }
  }
}
.tooltip-share {
  .tooltip {
    opacity: 1;
    background-color: #fff;
    .tooltip-inner {
      background-color: #fff;
      padding: 12px 8px;
      .tooltip-custom-content {
        @include font-gotham-book;
        text-align: left;
        border-radius: 4px;
        opacity: 1;
        background-color: #fff;
        .item {
          button {
            width: 100%;
            text-align: left;
            svg {
              width: 16px;
              height: 16px;
              margin-top: -2px;
              margin-right: 7.5px;
              color: $color-untd-darkgray;
            }
            .btn-label,
            span {
              font-size: 1.3rem;
              line-height: 2rem;
              color: $color-untd-gray;
            }
          }
        }
      }
    }
  }
}
