.tooltip {
  z-index: 5000;
  border-radius: 0;
  margin-left: 16px;
  .arrow {
    display: none;
  }
  .tooltip-inner {
    background-color: #2c390b;
    border-radius: 0;
    font-size: 1.4rem;
    @include font-gotham-book;
    padding: 0.8rem;
  }
}
